.svg-s-t {
  width: 0.33em;
  height: 0.33em;
}

.svg-s-s {
  width: 0.5em;
  height: 0.5em;
}

.svg-s-n {
  width: 1em;
  height: 1em;
}

.svg-s-l {
  width: 1.33em;
  height: 1.33em;
}

.svg-s-x {
  width: 1.66em;
  height: 1.66em;
}

.svg-s-h {
  width: 2em;
  height: 2em;
}
